*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8),);
    background-image: url(../img/bg.png);
    height: 100vh; /*what is vh?*/
    background-size: cover;
    background-position: center center; /*what is bg positon?*/
    position: relative;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
     transition: 0.3s;
}
.menu li a:hover{
    background: white;
    color: black;
   transition: 0.3s;
}
.logo{
    float: left;
}
.logo img{
    width: 60%;
    padding: 15px 0;
}
.banner-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 15%;
    text-align: center;
}
.banner-text h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.banner-text p{
    font-family: ubuntu;
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}
.banner-text h1 span{
    color: darkorange;
}
.banner-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    transition: 0.3s;
}
.banner-text a:hover{
    background: #fff;
    color: #000;
    transition: 0.3s;
}
@media /*why screen not here in video?*/ /*screen*/(max-width:600px) {
    .wrapper{
        width:100%;
    }
    .logo{
        float: none;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .menu{
        float: none;
        margin-top:0;
        margin-left: 53px;
    }
    .menu li a{
        padding: 5px;
        font-size: 11px;
    }
    .banner-text{
        width: 100%;
        height: auto;
        margin: 15% 0;
    }
    .banner-text h1{
        font-size: 30px;
    }
}